<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_tag sessions_path, id: "login-form" do %>
  <div class="form-group">
    <%= label_tag :email %>
    <%= email_field_tag :email, @user.email, class: "form-control", placeholder: "you@yourdomain.com" %>
  </div>
  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password, @user.password, class: "form-control" %>
  </div>
  <button class="btn btn-primary" type="submit">Log In</button>
<% end -%>
<p2>New user? <%= link_to "Sign up now!", signup_path %></p2>
  