<li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
      <% if user.admin? %>
      | Admin
      | Vote to delete
      <% else %>
      | <%= link_to "User", edit_admin_path(user),
      data: { confirm: "Promote as Admin"}%>
      | <%= link_to "delete", user, method: :delete, 
                                  data: { confirm: "You sure?" } %>
  <% end %>
  <% end %>
</li>