<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', :readonly => true %>
      
      <%= f.label :current_password, "Old password" %>
      <%= f.password_field :current_password, class: 'form-control' %>
      
      <%= f.label :password, "New password" %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :password_confirmation, "Re-enter password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= label_tag :code, "Enter OTP sent to your registered Mobile number:" %>
      <%= text_field_tag :token, '', class: "form-control" %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>