<div><b class="logs">USERS:</b> <br>
<br></div>
<div class="table-responsive">
  <% if current_user.admin? %>
  <table class="table table-sm table-striped table-bordered table-hover">
    <thead bgcolor="#777", class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <% if user.admin? %>
        <td> <b class="btn btn-success btn-sm btnsm"><%= "Admin" %></b></td>
        <td>  <% if current_user.admin? && current_user != user%>
        <% if current_user.following?(user) %>
          <%= link_to 'Unvote-Remove Admin ', change_role_to_worker_user_path(user), :class => "btn btn-info btn-sm"%>
        <% else %>
          <%= link_to 'Vote-Remove Admin ', change_role_to_worker_user_path(user), :class => "btn btn-info btn-sm"%>
        <% end %>
        <b class="btn btn-warning btn-sm btnsm"><%= user.followers.count %> Voted </b>
        <% end %></td>
            <% else %>
              <td><b class="btn btn-success btn-sm btnsm"><%= "User " %></b></td>
              <td><% if current_user.admin? %>
                <%= link_to ' Promote as Admin', change_role_to_admin_user_path(user), :class => "btn btn-info btn-sm" %>
                <%= link_to ' Delete User', delete_an_worker_user_path(user), :class => "btn btn-danger btnsm" %>
              <% end %></td>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
<%= will_paginate(@users) %>
<br><br><br>