<% provide(:title, 'Sign up') %>
<h1>Sign Up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control'%>
      <h2>Enter a valid email address</h2>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :country_code %>
      <%= f.text_field :country_code, class: "form-control", value: "+91", :readonly => true %>
      
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control', id: "authy-cellphone"%>
      <h2>Enter 10 digit Mobile number</h2>
      
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>