
<% if signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <% if session[:user_id] == @user.id %>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
      <% end %>
    </aside>
    <div class="col-md-8">
      <div id="micropost_count">
      <% if @microposts.any? %>
      <h3>Microposts (<%= @microposts.count %>)</h3></div>
      <div id="micropost_refresh">
      <ol class="microposts">
      <% @microposts.each do |micropost| %>
      <li>   <%= render 'microposts/micropost', micropost: micropost %></li><% end %>
      </ol></div><% end %>
      <%= will_paginate(@microposts) %>
    </div>
</div>
<% else %>
<div class="center jumbotron">
    <h1>Welcome to Healthify App</h1>
    <p>

    </p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <p><small>Please <%= link_to "Login", new_session_path %> if you have an account</small></p>
</div>

<%#= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
<% end %>