<div id="annual"></div><table class="table table-bordered display">
    <thead class="thead-light">
      <strong><% if current_user.admin? %>
      <% if params[:user_id].present? %>
      <%= "User: " %><%= User.find(params[:user_id]).name %>
      <% else %>
      <%= "User: All" %>
      <% end %><% end %></strong>
      <tr>
        <th bgcolor="#777", scope="col">Category</th>
        <th bgcolor="#777", scope="col">count</th>
      </tr>
    </thead>
    <tbody>
      <% @events.pluck(:category_id).uniq.each do |category| %>
        <tr>
          <td><%= category %></td>
          <td><%= @events.where(:category_id => category).count %></td>
         <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th bgcolor="#777", scope="col"></th>
        <th bgcolor="#777", scope="col"></th>
      </tr>
    </tfoot>
  </table>