<div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>) <%#
      Event.category_name %></h3>
      <ol class="microposts">
      	
        <%= render @user.microposts.all %>
      </ol>
      <%#= will_paginate @user.microposts.paginate(page: params[:page]) %>
    <% end %>
  </div>
