<html>
  <head>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" />
  </head>
    <body>
      <table class="table table-bordered display" id="micropost_logs" style="width:100%">
      <thead>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
      <script>
        setTimeout(function(){
        location.reload(); },60000);
      </script>
          <tr>
              <th>Time</th>
            <% if current_user.admin? %>
              <th>User</th>
              <th>Phone Number</th>
            <% end %>
              <th>Event Category</th>
              <th>Message</th>
          </tr>
      </thead>
        <tbody>
          <% @microposts.each do |micropost| %>
        <tr>
          <td><%= micropost.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <% if current_user.admin? %>
          <td><%= micropost.user.name %></td>
          <td><%= micropost.user.phone_number %></td>
        <% end %>
          <td><%= micropost.events.pluck(:category_id).first %></td>
          <% password = ENV['CRYPT_PASSWORD'] %>
          <% if Rails.env.development? %>
              <% content = AESCrypt.decrypt(micropost.content, password) %>
          <% else %>
              <% content = micropost.content %>
          <% end %>
          <td class="content"><%= micropost.id %> | <%= content %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
      <script>
        $(document).ready(function() {
        $('#micropost_logs').DataTable( {
        dom: 'Bfrtip',
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print']} );
        } );
      </script>
      
    </body>
</html>