<div class="form-inline" action="#">
<%= form_tag micropost_path(current_user), :method => 'get' do %>

<% if current_user.admin? %>
<div class="form-group">
<%= label_tag :user_id %>
<!-- <input type="text" class="form-control" id="user" placeholder="User"> -->
<%= select_tag :user_id, options_for_select(User.all.pluck(:name, :id)), :prompt => "All User" %>
</div>&nbsp;&nbsp;
<% end %>

<div class="form-group">
<%= label_tag :category_id %>
<%#= select_tag :category_id, options_for_select(:category_ids), params[:category_id], :include_blank => true %>
<%= select_tag :category_id, options_for_select(["high_risk", "mother", "child", "referral", "delivery", "stable", "alert", "anemia", "malnutrition", "uncoded"]), :prompt => "All Category" %>
</div>&nbsp;&nbsp;

<div class="form-group">
<%= label_tag :start_date %>
<%#= collection_select :user_id, User.all, :id, :name, include_blank: true %>
<%= text_field_tag :start_date, params[:start_date] %>
</div>&nbsp;&nbsp;

<div class="form-group">
<%= label_tag :end_date %>
<%= text_field_tag :end_date, params[:end_date] %>
</div>&nbsp;&nbsp;

<button type="submit" class="btn btn-info" id="refresh_data">Search</button>
<%#= submit_tag "search" %>
<% end %>
</div>

</div>
<!--<div class="form-group">
<%#= label_tag :User %>
<%#= text_field_tag :user_id, params[:user_id] %>
</div>&nbsp;&nbsp;-->

<!--<div class="form-group">
   <select class="form-control" id="User" placeholder="User">
          <option value="" selected>Select User</option>
        <%# User.all.pluck(:id, :name).each do |id, name| %>
          <option value="<%#=id%>"><%#= name %></option>
        <%# end %>
      </select>
</div> -->
