<%= link_to gravatar_for(@user, size: 50), @user %>
<h1><strong><%= @user.name.upcase %></strong></h1>
<% if current_user.admin? %>
<h2><%= "Admin" %>
	<% else %>
	<%= "User" %>
</h2>
<% end %>
<%#= pluralize(@user.microposts.count, "micropost") %>