<ol class="microposts">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <% password = ENV['CRYPT_PASSWORD'] %>
  <% if Rails.env.development? %>
    <% content = AESCrypt.decrypt(micropost.content, password) %>
  <% else %>
    <% content = micropost.content %>
  <% end %>
  <span class="content"> <%= content %></span>
  <span class="content"><%= "Category" %>: <%= micropost.events.pluck(:category_id).first %> </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(((micropost.created_at).to_time-5.hours-30.minutes).to_datetime) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete %>
                                       <%#data: { confirm: "You sure?", remote: true }, class: "delete" %>
    <% end %>
  </span>
</ol>