 <div id="microposts_index_page">
    <section class="microposts">
    <%= render 'shared/searchbar_form' %>
    </section>
<%= stylesheet_link_tag 'dataTables.bootstrap4.css' %>
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Logs</div>
  </div>
<%= render 'shared/micropost_data' %>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" integrity="sha384-rgWRqC0OFPisxlUvl332tiM/qmaNxnlY46eksSZD84t+s2vZlqGeHrncwIRX7CGp" crossorigin="anonymous"></script>

<%= javascript_include_tag 'datatables-demo' %>
</div>