<div id="microposts_index_page">
   <b class="logs">LOGS:</b> 
    <section class="microposts">
   		 <%= render 'shared/searchbar_form' %>
    </section>
<div class="card mb-3">
  <div class="card-header">
   <i class="fas fa-table"></i>
    <p><%#= link_to "Download Logs", microposts_path(format: "csv"), :class => "btn btn-info" %></p>
  </div>
</div>
	<%= render 'shared/micropost_data' %>
</div>