<div id="users_show_page">
    <section class="category_count">
    <%= render 'shared/showsearchbar_form' %>
    </section>
<div class="card mb-3">
<b class="logs">Frequency of Events: </b>
<% if Rails.env.development? %>
<%= line_chart @events.group(:category_id).group_by_day(:created_at).count, id: 'event_line_chart', 
xtitle: "<----  Days  ---->", ytitle: "<----  Category_count  ---->" %>
 <% else %>
  <%= line_chart @events.group(:category_id).group_by_day(:created_at).count, id: 'event_line_chart' %>
<% end %> 
<br>
  <div class="card-header">
     <i class="fas fa-table"></i>
  <b class="logs">Events Table: </b>
   </div></div>
<%= render 'shared/category_data' %>
<br>
<br>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" integrity="sha384-rgWRqC0OFPisxlUvl332tiM/qmaNxnlY46eksSZD84t+s2vZlqGeHrncwIRX7CGp" crossorigin="anonymous"></script>
</div>