@import "bootstrap-sprockets";
@import "bootstrap";


$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
//homepage background
body
{
  padding-top:60px;
}
section
{
  overflow:auto;
}

.center
{
  text-align:center;
  background-color: #777;
}

textarea
{
  resize:vertical;
}
.center h1
{
  margin-bottom:18px;
  color: #fff;
  font-size: 3em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

&:hover {
  color: #fff;
  text-decoration: none;
}
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  margin-top: 5px;
  margin-left: -5px;
  font-size: 1em;
  letter-spacing: 0px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: small;
  color: #777;
}

p1 {
  font-size: 2.1em;
  line-height: 1.7em;
}
p2 {
  font-size: 1.1em;
  line-height: 1.7em;
}

.footer {
  bottom: 0;
  left: 0;
  width:100%;
  background-color: black;
  color: $gray-light;
  position: fixed;
  height: 30px;
h2 {
  color: #555;
}
}

footer h2:hover {
  color: #777;
}

footer small {
  float: right;
  margin-right: 30px;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
 section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
//signup form
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}
.logs{
  font-size: 2.3em;
 }

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    
  }
}
.navbar-right{
  background-color:none;

  li:hover{
      border:1px solid black;
position: relative;

  }
}

.btn-sm{
  width: 180px;
}

.btnsm{
  width: 100px;
}
.datatable
{
  width:1920px !important;
}