// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.boxed{
  display: inline-block;
  border-radius: 10px;
  padding: 3px 10px;
  background-color: #eaeaea;
  text-align: center;
  color: black;
  border: 1px solid black;
  width: 150px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
.boxed:hover{
    text-decoration: none;

}