
<footer class="footer">
  <nav>
    <small>
    <h2>Healthify 2019</h2>
  </small>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', 'data-turbolinks-track' => true %>
  <%= yield :javascript %>

  </nav>
</footer>