<link rel="stylesheet" href="custom.scss">
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "HEALTHIFY", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if !signed_in? %>
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Login",   new_session_path %></li>
        <% else %>
          <li><%= link_to "My Profile",   user_path(current_user) %></li>
          <li><%= link_to "Summary", micropost_path(current_user)  %></li>
          <li><%= link_to "Logs", microposts_path%></li>
          <% if current_user.admin? %>
            <li><%= link_to "Users", users_path %></li>
          <% end %>
          <li><%= link_to "Account", edit_user_path(current_user) %></li>
          <li><%= link_to "Log out", sessions_destroy_path, method: :delete %></li>
        <% end %>   
      </ul>
    </nav>
  </div>
</header>